@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
html, body, #__nuxt, #__layout{
    min-height:100vh!important;
    width: 100%!important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 1em;
    --black: black;
    --white: white;
    --accent: #42326E;
    --light: #6E5B9A;
    --shadow: #B2A6CE7F;
    background: var(--white);
    color: var(--black);
}

body{
    overflow-x: hidden!important;
}

.backgroundColor {
    background-color: #D9D9D9;
}
section {
    width: 80vw;
    margin: auto;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
}

.bounce-fade-enter-active {
    animation: bounce-in .5s;
}
.bounce-fade-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
