@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html, body, #__nuxt, #__layout{
    height:100%!important;
    width: 100%!important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    overflow: auto;
}

#__nuxt{
    margin: 0;
}

section {
    width: 80vw;
    margin: auto;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

